
.main-viewport{
    background-color: black;
    height: 100%;
    width: 100%;
}

.vram-container{
    display: flex;
    flex-direction: column;
}

.vram-viewport{
    width: 1024px;
    height: 512px;
}

.vram-toolbar{
    height: 128px;
    background-color: #363636; 
}